
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 98vh;
    font-family: var(--fonte1);
    background-color: rgb(230, 78, 78);
    margin: auto;
}

header {
    background-color: pink;
    color: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9vw;
}

section {
    min-width: 380px;
    max-width: 1000px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    text-align: center;
    color:wheat;
}

section.imagem {
    max-height: 890px;
    min-height: 380px;
    max-width: 890px;
    min-width: 350px;
    margin: auto;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/Purple_Orange_Cancer_Astrology_Desktop_Wallpaper_-_2021-09-16T220240.720.png');
    background-position: right center;
    
    
}

section#img02 {
    background-image: url('imagens/2399748-cartao-de-dia-das-maes-com-fundo-de-flores-flores-lindas-vetor.jpg');
    background-position: center center;
}
